# Ignore all
*

# Allow root
!.gitignore
!bap1_activity_scoring.qmd
!renv.lock
!.Rprofile

# renv
!renv/
!renv/activate.R
!renv/settings.json

# Data
!data/
!data/README.md
!data/bap1_signature_genes.txt
!data/sample_anno.txt
!data/rsem_colnames.txt
!data/chol_coldata.txt
!data/lihc_coldata.txt
!data/GSE215785_meta.txt
!data/filter_geneset.txt

# Docs
!docs/
!docs/index.html
!docs/index_files/
!docs/index_files/figure-html/
!docs/index_files/figure-html/*
!docs/index_files/libs/
!docs/index_files/libs/*
!docs/index_files/libs/bootstrap/
!docs/index_files/libs/bootstrap/*
!docs/index_files/libs/clipboard/
!docs/index_files/libs/clipboard/*
!docs/index_files/libs/quarto-html/
!docs/index_files/libs/quarto-html/*
!docs/index_files/libs/quarto-html/tabsets/
!docs/index_files/libs/quarto-html/tabsets/tabsets.js
